{% extends "main_page_module/base.html" %}

{% block extraheader %}
{% endblock extraheader  %}

{% block nav_index %}active{% endblock nav_index %}



{% block content%}
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">


      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Pinned Notes</div>

          {% for note in pinned_notes %}
          
            {% set note_obj = N_obj(note["id"]) %}
            <a href="{{ url_for('notes_module.note_view', note_id=note['id'] ) }}" style="text-decoration: none; color: inherit;">
              <div class="media" style="font-size: 12px;border-radius: 5px;margin-bottom: 5px;">
                {% if note_obj.note_type != 0 %}
                  <span class="badge badge badge-{{ note_obj.type_clr [1] }}">{{ note_obj.type_clr [0] }}</span>
                {% endif %}
                <img class= "align-self-center mr-3" src="/static/icons/pinned.svg" height="32" width="32">
                <div class="media-body text-white bg-dark"><h6 class="mt-0">{{ note['title'] }}
                  {% for i in Tag.get_all_of_note(note['id'] )%}
                    {% set tag_color = NotesS.list_tag_colors()[i["tag_color"]] %}
                    <span class="badge badge-pill badge-{{ tag_color }}">{{ i["tag_name"] }}</span>
                  {% endfor %}
                  </h6>
                  <p>{{ note['text'] }} ...</p>
                </div>
              </div>
            </a>

          {% endfor %}
      </div>
        

    </div>
    <div class="col-md-8">
      <div class="row">
      {% for note in notes %}
       <div class="col-md-4">
        {% set note_obj = N_obj(note["id"]) %}

        
            <div class="container">
              <a href="{{ url_for('notes_module.note_view', note_id=note['id'] ) }}" style="text-decoration: none; color: inherit;">
                <div class="media" style="font-size: 12px;background-image: linear-gradient(to bottom right, hsl(64, 100%, 86%), rgb(255, 243, 181));border: 1px solid hsl(51, 46%, 56%);border-radius: 5px;margin-bottom: 5px;">
                  {% if note_obj.note_type != 0 %}
                    <span class="badge badge badge-{{ note_obj.type_clr [1] }}">{{ note_obj.type_clr[0] }}</span>
                  {% endif %}
                  <img class= "align-self-center mr-3" src="/static/icons/note.svg" height="32" width="32">
                  <div class="media-body"><h6 class="mt-0">{{ note['title'] }}
                    {% for i in Tag.get_all_of_note(note['id'])%}
                      {% set tag_color = NotesS.list_tag_colors()[i["tag_color"]] %}
                      <span class="badge badge-pill badge-{{ tag_color }}">{{ i["tag_name"] }}</span>
                    {% endfor %}
                    </h6>
                    <p>{{ note['text'] }} ...</p>
                  </div>
                </div>
              </a>
            </div>
  
        
      </div>
      {% endfor %}
    </div>
      
      
    </div>
    <div class="col-md-2">


      <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-header">Recently Viewed Notes</div>

          {% for note in Notes.get_recent_all() %}
          
            {% set note_obj = N_obj(note["id"]) %}
            <a href="{{ url_for('notes_module.note_view', note_id=note['id'] ) }}" style="text-decoration: none; color: inherit;">
              <div class="media" style="font-size: 12px;border-radius: 5px;margin-bottom: 5px;">
                {% if note_obj.note_type != 0 %}
                  <span class="badge badge badge-{{ note_obj.type_clr [1] }}">{{ note_obj.type_clr [0] }}</span>
                {% endif %}
                <img class= "align-self-center mr-3" src="/static/icons/pinned.svg" height="32" width="32">
                <div class="media-body"><h6 class="mt-0">{{ note['title'] }}
                  {% for i in Tag.get_all_of_note(note['id'] )%}
                    {% set tag_color = NotesS.list_tag_colors()[i["tag_color"]] %}
                    <span class="badge badge-pill badge-{{ tag_color }}">{{ i["tag_name"] }}</span>
                  {% endfor %}
                  </h6>
                  <p>{{ note['text'] }} ...</p>
                </div>
              </div>
            </a>

          {% endfor %}
      </div>
        

    </div>



  </div>

</div>
{% endblock content %}
